# Android Studio captures folder
captures/

# Intellij
*.iml
.idea/*

# Keystore files
*.jks

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild
.idea/encodings.xml

build/intermediates/dex-cache/cache.xml

App/src/main/res/drawable-hdpi/.DS_Store

.DS_Store

.idea/misc.xml

.idea/compiler.xml

projectFilesBackup/
build/